.Search__Container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .Search__Error {
    margin-top: 1rem;
    color: #dc3545;
  }
  
  .Search__Label {
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  