.google-map-markers-overlay {
    .MapMarker {
        cursor: pointer;
        height: 45px;
        left: -15px;
        position: relative;
        top: -45px;
        width: 30px;

        .MuiTypography-root {
            color: black;
            position: absolute;
            z-index: 1000;
            top: 10%;
            left: 50%;
            font-weight: bold;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
        }
    }
}